{% extends 'base.html' %}
{% from 'macros.html' import timeCartesianChart %}

{% block content %}
    <div class="bg-dark text-white vh-100"
         style="background: url('/static/home_bg_2.jpg') no-repeat center center;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
            padding: 30vh 10%">
        <div class="container">
            <h1 class="display-4 fw-bold">ScarletStocks</h1>
            <p class="lead">Making trading easier.</p>
            <a class="btn btn-scarlet btn-lg" href="{{ url_for('exchangelist_route') }}" role="button">Explore</a>
        </div>
    </div>
    <div class="bg-dark text-white vh-100"
         style="background: url('/static/home_bg_4b.jpg') no-repeat center center;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
            background-size: 100% 100%;
            padding: 15vh 10%">
        <div class="container">
            <div class="row h-100">
                <div class="col-4">
                    <div class="row my-3">
                        <div class="card text-white bg-success">
                            <div class="card-body p-1">
                                <h5 class="card-title">Biggest gain</h5>
                                <p class="card-text">{{ stock_data['best']['data']['name'] }}<br/>
                                    {{ (stock_data['best']['data']['pctChange']|float*10000)|round/100 }}%</p>
                                <p class="card-text">
                                    <small class="text-white">Last trade
                                        time {{ stock_data['best']['data']['lastTradeTime'][:19] }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="card text-white bg-danger">
                            <div class="card-body p-1">
                                <h5 class="card-title">Biggest loss</h5>
                                <p class="card-text">{{ stock_data['worst']['data']['name'] }}<br/>
                                    {{ (stock_data['worst']['data']['pctChange']|float*10000)|round/100 }}%</p>
                                <p class="card-text">
                                    <small class="text-white">Last trade
                                        time {{ stock_data['worst']['data']['lastTradeTime'][:19] }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="card bg-info">
                            <div class="card-body p-1">
                                <h5 class="card-title">Biggest Volume</h5>
                                <p class="card-text">{{ stock_data['biggest_volume']['data']['name'] }}<br/>
                                    {{ stock_data['biggest_volume']['data']['volume'] }}</p>
                                <p class="card-text">
                                    <small class="text-white">Last trade
                                        time {{ stock_data['biggest_volume']['data']['lastTradeTime'][:19] }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <canvas style="background-color: rgba(0, 0, 0, 0.75); padding: 10px; width: 100%; height: 70vh"
                            id="bestChangeChart"></canvas>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ timeCartesianChart('bestChangeChart', stock_data['best']['data']['code'], stock_data['best']['data']['exchange']) }}
{% endblock %}