{% extends 'base.html' %}

{% block content %}
    <br/>
    <div class="card" style="width: 100%; max-width: 600px; padding: 55px 10%; margin: auto;">
        <form class="needs-validation" action="{{ url_for('register_route') }}" method="POST" novalidate>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating m-0">
                <input type="text" name="inputFirstname" class="form-control" id="floatingInput"
                       placeholder="John" style="border-bottom-right-radius: 0;
                       border-bottom-left-radius: 0;" required>
                <label for="floatingInput">First Name*</label>
            </div>
            <div class="form-floating m-0">
                <input type="text" name="inputSurname" class="form-control" id="floatingPassword"
                       placeholder="Smith" style="border-radius: 0;">
                <label for="floatingInput">Surname</label>
            </div>
            <div class="form-floating m-0">
                <input type="email" name="inputEmail" class="form-control" id="floatingInput"
                       placeholder="name@example.com" style="border-radius: 0" required>
                <label for="floatingInput">Email address*</label>
            </div>
            <div class="form-floating m-0">
                <input type="password" name="inputPassword" class="form-control" id="floatingPassword"
                       placeholder="Password" style="border-radius: 0" required>
                <label for="floatingPassword">Password*</label>
            </div>
            <div class="form-floating m-0">
                <input type="tel" name="inputPhone" class="form-control" id="floatingInput"
                       style="border-radius: 0" >
                <label for="floatingInput">Phone Number</label>
            </div>
            <div class="form-floating m-0">
                <input type="date" name="inputDateOfBirth" class="form-control" id="floatingPassword"
                       placeholder="Password" style="border-top-right-radius: 0;
                       border-top-left-radius: 0">
                <label for="floatingPassword">Date of Birth</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Register</button>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation');

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock %}